<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
    <body>
        <h1>Профиль</h1>
            <p>Номер телефона: {{ user.phone_number }}</p>
            <p>Пригласительный код: {{ user.invite_code }}</p>
            <p>Пригласивший вас пользователь:
                {% if user.referred_by %}
                    {{ user.referred_by.phone_number }}
                {% else %}
                    None
                {% endif %}
            </p>
            <p>Использованный пригласительный код: {{ user.used_invite_code }}</p>
        <h2>Привлеченные пользователи:</h2>
            <ul>{% for referred_user in referred_users %}
                <li>{{ referred_user }}</li>
                {% empty %}
                <li>No referred users.</li>
                {% endfor %}
            </ul>
        <form method="post" action="{% url 'web:profile' user.id %}">
            {% csrf_token %}
            <label for="used_invite_code">Используйте пригласительный код:</label>
            <input type="text" id="used_invite_code" name="used_invite_code">
            <button type="submit">Обновить</button>
        </form>
        <h2>Сообщение:</h2>
            <ul>
                {% if messages %}
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
    </body>
</html>
