<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="phone_number">Номер телефона:</label>
        <input type="text"
               id="phone_number"
               name="phone_number"
               required
               placeholder="+7 (999) 999-99-99"
        >
        <button type="submit">Зарегистрироваться</button>
    </form>
    <h2>Сообщение:</h2>
        <ul>
            {% if messages %}
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            {% endif %}
        </ul>
</body>
</html>
